rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Top-level categories
    match /categories/{categoryId} {
      allow read: if true; // Anyone can read this
      allow create: if isValidCreateMetadata(); // Anyone can create a new category, assuming they adhere to the required pattern
      allow update: if isValidUpdateMetadata() && // Ensure document is shaped properly
        (isLocalAdmin(resource.data) || isGlobalAdmin() || (isLocalWriter(resource.data) && isOnlyModifiedChange())); // Only admins allowed to edit the category document

      // Events with each category
      match /events/{eventId} {
        allow read: if true; // Anyone can read this
        allow create: if isValidCreateMetadata() && // Ensure document is shaped properly
          (isLocalWriter(get(/databases/$(database)/documents/categories/$(categoryId)).data) || isGlobalAdmin()); // Looser restrictions on how is allowed to write
        allow update: if isValidUpdateMetadata() && // Ensure document is shaped properly
          (isLocalWriter(get(/databases/$(database)/documents/categories/$(categoryId)).data) || isGlobalAdmin()); // Looser restrictions on how is allowed to write

      }

    }

    // Control who is allowed to read/write the global admin document
    match /groups/admins {
      allow read: if true; // Anyone can read this
      allow update: if isGlobalAdmin(); // Only admins allowed to update this document
    }

    function email() {
      return request.auth.token.email;
    }

    // Check if admin in current document
    function isLocalAdmin(data) {
      return email() in data.maintainers && data.maintainers[email()] == "admin";
    }

    function isLocalWriter(data) {
      return email() in data.maintainers && (data.maintainers[email()] == "admin" || data.maintainers[email()] == "write");
    }

    // Check if admin in global document
    function isGlobalAdmin() {
      let data = get(/databases/$(database)/documents/groups/admins).data;
      return data != null && email() in data.maintainers && data.maintainers[email()] == "admin";
    }

    // Check if the only value changed is the lastModified/lastModifiedBy fields within a category document
    function isOnlyModifiedChange() {
      let oldData = request.resource.data;
      let newData = resource.data;
      return oldData.metadata == newData.metadata &&
        oldData.maintainers == newData.maintainers &&
        oldData.archived == newData.archived;
    }

    // Ensure that all relevant metadata + lastUpdate is both present and correct
    function isValidCreateMetadata() {
      let data = request.resource.data;
      return data.metadata.createdBy == email() && // User must list themselves as the creator
        data.metadata.createdAt != null && // Want a timestamp for when this document was created
        (data.maintainers[email()] == "admin" || data.maintainers[email()] == "write"); // User must allow themselves to edit this document
    }

    function isValidUpdateMetadata() {
      let newData = request.resource.data;
      let oldData = resource.data;

      return oldData.metadata == newData.metadata && // Metadata not allowed to change
        (
          (!(email() in oldData.maintainers) && !(email() in newData.maintainers)) || // Either user isn't maintainer
          oldData.maintainers[email()] == newData.maintainers[email()]                // or user's maintainer status didn't change
        ) &&
        newData.lastModifiedBy == email() && // User must list themselves as the last modifier
        newData.lastModified > 0;
    }
  }
}