/* Take up full space */
#note-module {
    height: 100%;
    position: relative;
    overflow: hidden auto;
}

/* Generic styling */
.note-div-left,
.note-div-right {
    position: absolute;
    height: 100%;
    width: 55.6%; /* Allow sufficient overlap */

    /* Center contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 4em;

    user-select: none;
    cursor: pointer;

    transition: text-shadow 300ms;
}

.note-div-left:not(:has(.note-div-sub)):hover,
.note-div-right:not(:has(.note-div-sub)):hover,
.note-div-left .note-div-sub:hover,
.note-div-right .note-div-sub:hover {
    text-shadow: 2px 2px 5px white;
}

/* Left slant */
.note-div-left {
    left: 0px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    background: #8d675c;
}

/* Right slant */
.note-div-right {
    right: 0px;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    background: #707c98;
}

/* Allow vertical subparts within each note-div */
.note-div-sub {
    /* Center contents */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Take up all available space */
    width: 100%;
    flex: 1 1 0;

    transition: text-shadow 300ms;
}

/* Differentiate each vertical subdivision */
.note-div-sub:nth-child(even) {
    background: #00000036;
}

/* Emphasized value between left/right division */
.note-div-mid {
    z-index: 2;
    box-sizing: border-box;

    /* Center element */
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    /* Center contents */
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4vw;

    background: var(--p-emphasis);
    border-radius: 20px;

    height: 10vw;
    min-width: 10vw;
    padding: 0.3em;

    user-select: none;
    cursor: pointer;

    transition: box-shadow 300ms;
}

.note-div-mid:not(.note-disabled):hover {
    box-shadow: 2px 2px 4px white;
}

.note-div-mid.note-disabled {
    cursor: not-allowed;
    background: var(--p-shade);
    opacity: 0.7;
}

/* Reorganize if too narrow */
@media (width < 600px) {
    .note-div-left,
    .note-div-right {
        clip-path: unset;
        height: 50%;
        width: 100%;
    }

    .note-div-left:has(.note-div-sub),
    .note-div-right:not(:has(.note-div-sub)) {
        top: 0px;
    }
    .note-div-right:has(.note-div-sub),
    .note-div-left:not(:has(.note-div-sub)) {
        bottom: 0px;
    }

    /* Stop this from shrinking */
    .note-div-mid {
        height: 10vh;
        width: 50vw !important;
        min-width: 200px;
        max-width: 100vw;
        font-size: 5vh !important;
    }
}
